/* @import
============================================*/

@import url(fonts.css);
@import url(normalize.css);

/* Global
============================================*/

html {
	font-size: 16px;
}

body {
	font-family: EuclidCA, sans-serif;
	color: #050A1B;
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1, h2, h3, .h1, .h2, .h3 {
	margin: 0 0 16px 0;
	font-weight: 600;
}
h1, .h1 {
	font-size: 68px;
	line-height: 1;
}
h2, .h2 {
	font-size: 40px;
	line-height: 1.2;
}
h3, .h3 {
	font-size: 28px;
	line-height: 1.2;
}

.container {
	margin: 0 auto;
	max-width: 592px;
	min-width: 320px;
}

.text-center {
	text-align: center;
}
/* Buttons
============================================*/

.button {
	display: inline-block;
	padding: 13px 28px;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 500;
	background-color: #0432D3;
	color: #fff;
	border: none;
	transition: all .3s;
	text-decoration: none;
}
.button:hover {
	background-color: #1B4DFF;
	cursor: pointer;
}
.button:active {
	background-color: #0024A4;
	color: rgba(255, 255, 255, .7);
}
.button:disabled, .button_disabled {
	background-color: #E8EBF3;
	color: #A6ACBB;
	pointer-events: none;
	cursor: initial;
}

.button_secondary:not(:disabled) {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #0432D3;
	color: #0432D3;
}
.button_secondary:not(:disabled):hover {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #1B4DFF;
	color: #1B4DFF;
	cursor: pointer;
}
.button_secondary:not(:disabled):active {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #0024A4;
	color: #0024A4;
}

.button_ghost {
	padding: 0;
	background-color: transparent;
}
.button_ghost {
	text-decoration: none;
	color: #050A1B;
	transition: all .3s;
}
.button_ghost:hover {
	background-color: transparent;
	color: #1B4DFF;
	cursor: pointer;
}
.button_ghost:active {
	background-color: transparent;
	color: #0024A4;
}
.button_ghost_disabled {
	color: #A6ACBB;
	pointer-events: none;
}
.button_vs-icon {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.button__icon::before {
	display: block;
	margin-left: 10px;
	font-size: inherit;
}
.button__text {
	display: block;
}

/* Header
============================================*/

.header	{
	margin: 0 auto;
	max-width: calc(1395px + 16px + 29px);
}

.header-inner {
	padding: 16px 16px 16px 29px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 68px;
	height: 20px;
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: contain;
}
.button-back {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.button-back__text {
	display: block;
	margin-left: 8px;
}
.button-back__icon::before {
	display: block;
	font-size: 20px;
	line-height: 1;
	transform: rotate(180deg);
}
.button-back > .icon-arr-button {
	display: none;
	visibility: hidden;
}

/* Main
============================================*/

.steps {
	display: flex;
	margin-bottom: 16px;
	margin-top: 18px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.steps__item {
	display: block;
	width: 12px;
	height: 4px;
	background-color: #D0D9EF;
}
.steps__item +
.steps__item {
	margin-left: 12px;
}
.steps__item_active {
	width: 32px;
	background-color: #0432D3;
}

.link-card__caption {
	font-size: 28px;
	line-height: 1.2;
}

.link-card__text {
	margin-bottom: 72px;
	font-size: 14px;
	line-height: 1.3;
}

/* inputs */

.text-field {
	margin-bottom: 17px;
}
.text-field__label {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 1.3;
}
.text-field__input {
	display: block;
	width: 100%;
	padding: 18.5px 20px;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2;
	color: #050A1B;
	background-color: #F2F5FC;
	background-clip: padding-box;
	border: none;
	border-radius: 0;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.text-field__input::placeholder {
	color: #98ABD9;
}
.text-field__input:focus {
	color: #050A1B;
	background-color: #fff;
	border: none;
	outline: 0;
	box-shadow: inset 0 0 0 1px #0432D3;
}
.text-field__input:disabled,
.text-field__input[readonly] {
	background-color: #F2F5FC;
	color: #A6ACBB;
}
.text-field__input:disabled::placeholder,
.text-field__input[readonly]::placeholder {
	color: #A6ACBB;
}
.text-field__input_error {
	color: #050A1B;
	background-color: #FFEEF1;
	border: none;
	outline: 0;
	box-shadow: none;
}

/* tooltip */

.tooltip {
	position: absolute;
	top: -2px;
	right: -40px;
	padding: 28px 23px 0 26px;
	width: 174px;
	height: 114px;
	background-image: url('../images/tooltip.svg');
	color: #ffffff;
	font-size: 14px;
	line-height: 1.3;
	opacity: 0;
	visibility: hidden;
	user-select: none;
	transform: translate(0, -100%);
	transition: opacity .3s;
}

.tooltip__wrapper {
	position: relative;
	display: inline-flex;
	align-items: center;
	margin-bottom: 6px;
}
.tooltip__wrapper > .text-field__label {
	margin: 0;
}
.tooltip__wrapper > .icon-info {
	width: 1em;
	height: 1em;
	margin-left: 4px;
	font-size: 20px;
	line-height: 1;
	color: #98ABD9;
}
.tooltip__wrapper > .icon-info:hover {
	color: rgba(151, 170, 216, .5);
	cursor: pointer;
}
.tooltip__wrapper > .icon-info:hover ~
.tooltip {
	opacity: 1;
	visibility: visible;
}
.tooltip > .icon-cross {
	position: absolute;
	display: none;
	visibility: hidden;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}
.tooltip > .icon-cross:hover {
	color: #98ABD9;
}

/* card form */

.card-form {
	width: 100%;
	min-height: 333px;
	padding: 20px 28px;
	margin-bottom: 2rem;
	background-image: url(../images/card-des.svg);
	background-repeat: no-repeat;
}
.card-form__number {
	padding-top: 58px;
	width: 100%;
	max-width: 404px;
}
.card-form__box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.card-form__name {
	flex: 0 0 289px;
}
.card-form__exp {
	margin-left: 16px;
	flex: 0 0 99px;
}
.card-form__sc {
	margin-left: 40px;
	max-width: 83px;
	flex: 0 0 83px;
}

/* Footer
============================================*/

.footer__box {
	display: flex;
	align-items: top;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer__description {
	margin-top: 8px;
	margin-bottom: 40px;
	font-size: 12px;
	line-height: 1.4;
	color: #595C67;
}
.bank-cards {
	display: flex;
	margin-top: 10px;
}
.bank-cards__card {
	width: 39px;
	height: 24px;
}
.bank-cards__card +
.bank-cards__card {
	margin-left: 20px;
}
.bank-cards__card_1 {
	background-image: url(../icons/icon-card-1.svg);
}
.bank-cards__card_2 {
	background-image: url(../icons/icon-card-2.svg);
}
.bank-cards__card_3 {
	width: 70px;
	height: 27px;
	background-image: url(../icons/icon-card-3.svg);
}

/* Media
============================================*/

@media screen and (max-width: 768px) {
	.container {
		padding: 0 20px;
		max-width: 632px;
	}
	.link-card__caption {
		font-size: 24px;
	}
	.logo {
		width: 76px;
		height: 22px;
	}
	.link-card__text {
		line-height: 1.4;
	}
	.tooltip > .icon-cross {
		display: block;
		visibility: visible;
	}
	.tooltip {
		padding: 28px 40px 0 26px;
		width: 192px;
		height: 113px;
		right: -24px;
		background-image: url(../images/tooltip-mob.svg);
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 632px) {
	.link-card.container {
		overflow: visible;
	}
	.card-form {
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		padding: 0;
		height: 432px;
		background-image: url(../images/card-mob.svg);
		background-size: 585px;
		background-position: center top;
	}
	.card-form__number {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 80px;
		width: 100%;
		max-width: 320px;
	}
	.card-form__box {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 320px;
	}
	.card-form__name {
		flex: 0 0 61.6%;
	}
	.card-form__exp {
		margin-left: auto;
		flex: 0 0 33%;
	}
	.card-form__sc {
		margin-left: auto;
		margin-top: 46.5px;
	}
}

@media screen and (max-width: 375px) {
	.header {
		min-width: 320px;
	}
	.header-inner {
		padding: 8px;
	}
	.logo {
		width: 69px;
		height: 20px;
	}
	.button {
		padding: 11.5px 20px;
		font-size: 14px;
		line-height: 1.2;
	}
	.button-back {
		padding: 0;
		margin-right: 49px;
	}
	.button-back__text {
		display: none;
		visibility: hidden;
	}
	.button-back > .icon-arr-button {
		display: block;
		visibility: visible;
	}
	.button-back > .icon-arr-right {
		display: none;
		visibility: hidden;
	}
	.steps {
		margin-top: 16px;
	}
	.link-card__caption {
		font-size: 22px;
		line-height: 1.2;
	}
	.link-card__text {
		margin-bottom: 64px;
		font-size: 13px;
		line-height: 1.4;
	}
}